#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blanchedalmond; 
  cursor: none !important
}

/* Hide cursor on all interactive elements */
a, button, [role="button"], input, select, textarea, .cursor-pointer {
  cursor: none !important;
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}
